<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header color="medium">
          <ion-card-title>Galería</ion-card-title>
        </ion-card-header>
        <ion-slides *ngrxLet="gallery$ as gallery" scrollbar="true" [options]="slideOpts">
          <ion-slide *ngFor="let photo of gallery.profiles">
            <ion-img [src]="'https://image.tmdb.org/t/p/original' + photo.file_path"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header color="medium">
          <ion-card-subtitle>Nombre</ion-card-subtitle>
          <ion-card-title>{{ details.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ details.biography }}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-item color="medium">
          <ion-icon name="man" slot="start"></ion-icon>
          <ion-label>Género</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-title>{{details.gender == 1 ? "Femenino" : "Masculino" }}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-item color="medium">
          <ion-icon name="magnet" slot="start"></ion-icon>
          <ion-label>Conocida por</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-title>{{ details.known_for_department }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-item color="medium">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-label>Lugar de Nacimiento</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-title>{{ details.place_of_birth }}</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-item color="medium">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>Fecha de Nacimiento</ion-label>
        </ion-item>
        <ion-card-header>
          <ion-card-title>{{ details.birthday | date }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12" *ngrxLet="credits$ as credits">
      <ion-card>
        <ion-card-header color="medium">
          <ion-card-title>Participaciones</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-slides [options]="{ autoHeigth: true, slidesPerView: 1.5, centeredSlides: true }" scrollbar="true">
            <ion-slide *ngFor="let cast of credits.cast">
              <ion-card>
                <ion-img *ngIf="cast.poster_path || cast.backdrop_path"
                  [src]="'https://image.tmdb.org/t/p/w500' + (cast.poster_path || cast.backdrop_path)"></ion-img>
                <ion-card-header>
                  <ion-card-title>{{ cast.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item lines="inset">
                    <ion-label>{{ cast.character }}</ion-label>
                    <ion-note slot="start">Personaje</ion-note>
                  </ion-item>
                  <ion-button color="primary" expand="block">
                    Ver
                  </ion-button>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>