<ion-content>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-menu-toggle>
      <ion-fab-button color="tertiary">
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
    </ion-menu-toggle>
  </ion-fab>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Basados en informacion de The Movie DB.</ion-card-subtitle>
            <ion-card-title>Populares</ion-card-title>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let serie of (series | async)?.results ">
        <app-media-card [media]='serie' type='tv'></app-media-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button>
      <ion-icon slot="start" name="albums"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-button>
  </ion-fab>
</ion-content>