<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" menuId="actors" contentId="actors">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-button class="actor-button-link" shape="round" routerLink="/actors/populars" routerLinkActive="active-link">
        <ion-icon slot="start" name="bar-chart"></ion-icon>
        <ion-label>Populares</ion-label>
      </ion-button>
      <ion-button class="actor-button-link" shape="round" routerLink="/actors/search" routerLinkActive="active-link">
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-menu-toggle>
      <ion-fab-button color="tertiary">
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
    </ion-menu-toggle>
  </ion-fab>
  <ion-router-outlet id="actors"></ion-router-outlet>
</ion-content>