:root {
  --ion-color-primary: #219ebc;
  --ion-color-primary-rgb: 33, 158, 188;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1d8ba5;
  --ion-color-primary-tint: #37a8c3;

  --ion-color-secondary: #fb8500;
  --ion-color-secondary-rgb: 251, 133, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #dd7500;
  --ion-color-secondary-tint: #fb911a;

  --ion-color-tertiary: #fcf5c7;
  --ion-color-tertiary-rgb: 252, 245, 199;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ded8af;
  --ion-color-tertiary-tint: #fcf6cd;

  --ion-color-success: #619b8a;
  --ion-color-success-rgb: 97, 155, 138;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #558879;
  --ion-color-success-tint: #71a596;

  --ion-color-warning: #ffb703;
  --ion-color-warning-rgb: 255, 183, 3;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a103;
  --ion-color-warning-tint: #ffbe1c;

  --ion-color-danger: #880d1e;
  --ion-color-danger-rgb: 136, 13, 30;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #780b1a;
  --ion-color-danger-tint: #942535;

  --ion-color-dark: #023047;
  --ion-color-dark-rgb: 2, 48, 71;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #022a3e;
  --ion-color-dark-tint: #1b4559;

  --ion-color-medium: #487d97;
  --ion-color-medium-rgb: 72, 125, 151;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #3f6e85;
  --ion-color-medium-tint: #5a8aa1;

  --ion-color-light: #8ecae6;
  --ion-color-light-rgb: 142, 202, 230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #7db2ca;
  --ion-color-light-tint: #99cfe9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #219ebc;
    --ion-color-primary-rgb: 33, 158, 188;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1d8ba5;
    --ion-color-primary-tint: #37a8c3;

    --ion-color-secondary: #fb8500;
    --ion-color-secondary-rgb: 251, 133, 0;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #dd7500;
    --ion-color-secondary-tint: #fb911a;

    --ion-color-tertiary: #fcf5c7;
    --ion-color-tertiary-rgb: 252, 245, 199;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #ded8af;
    --ion-color-tertiary-tint: #fcf6cd;

    --ion-color-success: #619b8a;
    --ion-color-success-rgb: 97, 155, 138;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #558879;
    --ion-color-success-tint: #71a596;

    --ion-color-warning: #ffb703;
    --ion-color-warning-rgb: 255, 183, 3;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0a103;
    --ion-color-warning-tint: #ffbe1c;

    --ion-color-danger: #880d1e;
    --ion-color-danger-rgb: 136, 13, 30;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #780b1a;
    --ion-color-danger-tint: #942535;

    --ion-color-dark: #8ecae6;
    --ion-color-dark-rgb: 142, 202, 230;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #7db2ca;
    --ion-color-dark-tint: #99cfe9;

    --ion-color-medium: #487d97;
    --ion-color-medium-rgb: 72, 125, 151;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #3f6e85;
    --ion-color-medium-tint: #5a8aa1;

    --ion-color-light: #023047;
    --ion-color-light-rgb: 2, 48, 71;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #022a3e;
    --ion-color-light-tint: #1b4559;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
