<ion-app>
  <ion-split-pane contentId="app">
    <ion-menu contentId="app">
      <ion-content>
        <ion-card color="primary">
          <ion-card-content>
            <ion-title class="app-title">MoviePicker</ion-title>
          </ion-card-content>
        </ion-card>
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let route of routes">
            <ion-item [routerLink]="route.route" class="nav-link ion-no-border" routerLinkActive="active-link">
              <ion-icon slot="start" [name]="route.icon"></ion-icon>
              <ion-label>{{ route.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-item>
            <ion-note slot="start">Desarrollado por</ion-note>
            <ion-title>Alvaro Nolasco</ion-title>
          </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="app"> </ion-router-outlet>
  </ion-split-pane>
</ion-app>