<ion-app>
  <ion-split-pane contentId="app">
    <ion-menu contentId="app">
      <ion-content>
        <ion-card color="primary" class="myHeader">
          <ion-img src="../../assets/icon/audience.svg"></ion-img>
          <ion-card-header>
            <ion-card-title class="ion-text-center">MoviePicker</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let route of routes">
            <ion-item [routerLink]="route.route" class="nav-link ion-no-border" routerLinkActive="active-link">
              <ion-icon slot="start" [name]="route.icon"></ion-icon>
              <ion-label>{{ route.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar color="secondary">
          <ion-card color="secondary">
            <ion-img src="../../assets/icon/Logo PLogo Alvaro Nolasco.svg"></ion-img>
          </ion-card>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="app"> </ion-router-outlet>
  </ion-split-pane>
</ion-app>