<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-back-button icon="caret-back"></ion-back-button>
    <ion-fab-button size="small" color="danger">
      <ion-icon name="caret-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
  <div *ngrxLet="base$ as base" [ngSwitch]="base.base">
    <div *ngrxLet="detailsMedia$ as detailsMedia">
      <app-detail-card-tv *ngSwitchCase="'tv'" [details]="detailsMedia"></app-detail-card-tv>
      <app-detail-card-movie *ngSwitchCase="'movie'" [details]="detailsMedia"></app-detail-card-movie>
      <app-detail-card-person *ngSwitchCase="'person'" [details]="detailsMedia"></app-detail-card-person>
    </div>
  </div>  
</ion-content>