<ion-content>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-menu-toggle>
      <ion-fab-button color="tertiary">
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
    </ion-menu-toggle>
  </ion-fab>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-item style="--background: transparent;">
            <ion-thumbnail slot="start">
              <img src="../../assets/icon/audience.svg">
            </ion-thumbnail>
            <ion-title>MoviePicker</ion-title>
          </ion-item>
          <ion-card-header>
            <ion-card-title>Descripcion</ion-card-title>
            <ion-card-subtitle>Tu aplicación para encontrar toda la informacion que necesitas de entretenimiento.
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card color="medium">
              <ion-card-header>
                <ion-card-title>Módulos</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-slides scrollbar="true" [options]="{ slidesPerView: 1.2, centeredSlides: true }">
                  <ion-slide *ngFor="let module of modules">
                    <ion-card>
                      <ion-img [src]="'../../assets/icon/' + module.icon + '.svg'"></ion-img>
                      <ion-card-header>
                        <ion-card-title>{{module.name}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <p *ngFor="let detail of module.details">{{ detail }}</p>
                      </ion-card-content>
                    </ion-card>
                  </ion-slide>
                </ion-slides>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Colores</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let color of colors" size="6" size-md="4">
                  <ion-card [color]="color">
                    <ion-card-header>
                      <ion-card-subtitle>{{ color }}</ion-card-subtitle>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ion-card color="medium">
          <ion-img src="../../assets/icon/Frame 4Alvaro Nolasco OnlyText.svg"></ion-img>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ contact.job.name }}</ion-card-subtitle>
            <ion-card-title>{{ contact.job.link }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="5">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>Contacto</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let link of contact.social_media" [href]="link.link" target="__blank">
          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="'../../assets/icon/' + link.icon + '.svg'">
            </ion-thumbnail>
            <ion-label>{{ link.name }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>