<ion-content *ngrxLet="base$ as base">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="floating">Buscar {{ base.base == 'movie' ? 'Películas' : base.base == 'tv' ? 'Series' :
          'Actores' }}</ion-label>
        <ion-input type="search" (ionChange)="searchTrigger($event.detail.value)" debounce="800" clearInput
          [placeholder]="base.base == 'movie' ? 'Pinocho' : base.base == 'tv' ? 'Riverdale' : 'Robert Downey Jr.'">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-grid fixed *ngIf="searchData$ | async as searchData">
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let searchItem of searchData.results">
        <app-listing-media-card [data]="searchItem" [type]="base.base"></app-listing-media-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>