/*ion-card {
    border-radius: 15px;
    height: 350px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    ion-img {
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
    ion-card-content {
        p.description {
            color: var(--ion-color-dark-tint);
            font-size: 16px;
        }
    }
}*/

div.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 210px 230px 60px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(#424242, 0.5);
    text-align: center;
    div.card-image {
        grid-area: image;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover !important;
        background-position: center !important;
        -webkit-transition: all 1s ease-in-out !important;
        transition: all 1s ease-in-out !important;
        &:hover {
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }
    }
    div.card-text {
        grid-area: text;
        overflow-y: auto;
        height: 230px !important;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: var(--ion-color-light-tint);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-light-shade);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--ion-color-medium);
        }
        ion-progress-bar {
            position: sticky;
            top: 0px !important;
            height: 10px;
        }
        span.date {
            color: var(--ion-color-medium);
            font-size: 13px;
            font-weight: 500;
        }
        p {
            color: var(--ion-color-medium);
            font-size: 16px;
            font-weight: 300;
            padding: 0 10px;
        }
        h2 {
            margin-top: 0px;
            font-size: 28px;
            position: sticky;
            top: 5px;
            background: white;
        }
    }
    .card-stats {
        grid-area: stats;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: rgba(var(--ion-color-medium-rgb), 1);
        .stat {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 10px;
            color: white;
            .type {
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .value {
                font-size: 22px;
                font-weight: 500;
            }
            &:nth-child(even) {
                border-left: 1px solid var(--ion-color-medium-tint);
                border-right: 1px solid var(--ion-color-medium-tint);
            }
            &:last-child() {
                border-left: 0px;
                border-right: 0px;
            }
        }
    }
}
