ion-card {
    border-radius: 15px;
    height: 350px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    ion-img {
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
    ion-card-content {
        ion-label.description {
            color: var(--ion-color-dark-shade);
            margin-top: 18px;
        }
        p.description {
            color: var(--ion-color-dark-tint);
            font-size: 16px;
        }
    }
}
