<ion-card>
  <ion-img [src]="'https://image.tmdb.org/t/p/w400' + (data.backdrop_path || data.profile_path)"></ion-img>
  <ion-card-header color="medium">
    <ion-avatar slot="start">
      <img [src]="'https://image.tmdb.org/t/p/w200' + (data.profile_path || data.poster_path)">
    </ion-avatar>
    <ion-progress-bar
      [color]="(data.vote_average < 3 || (data.popularity | number) < 1000) ? 'danger' : (data.vote_average < 5 || (data.popularity | number) < 5000) ? 'warning' : (data.vote_average < 8 || (data.popularity | number) < 50000) ? 'success' : 'primary'"
      [value]="(data.vote_average / 10 || data.popularity / 100)"></ion-progress-bar>
    <ion-card-title [title]="data.title || data.name">{{ data.title || data.name }}</ion-card-title>
    <ion-card-subtitle>{{ (data.release_date | date) || (data.popularity | number) }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-label class="description" *ngIf="data.overview">Descripción</ion-label>
    <p class="description" *ngIf="data.overview">{{ data.overview }}</p>
    <ion-button expand="block" color="tertiary" (click)="getDetails(data.id)">
      <ion-icon slot="start" name="reader-outline"></ion-icon>
      Detalles
    </ion-button>
  </ion-card-content>
</ion-card>