<ion-content>
  <app-base-page-component page="movies"></app-base-page-component>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Basados en informacion de The Movie DB.</ion-card-subtitle>
            <ion-card-title>Populares
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-input clearInput placeholder="clear me"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let movie of (movies | async)?.results ">
        <app-media-card [media]='movie' type='movie'></app-media-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>