ion-item.rating {
    --background: transparent;
}
ion-item.date-item {
    --background: transparent;
    --color: white;
}

ion-card.movie:hover ion-img {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

ion-card.movie ion-button {
    display: none;
    position: absolute;
}

ion-card.movie:hover ion-button {
    display: block;
    position: absolute;
    z-index: 99999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
